.LVNav_a {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    margin-right: 32px;
    padding: 0 4px 14px;
}
.LVNavNow {
    border-bottom: 3px solid #AA1100;
    color: #000000;
}
