.errtip{
    color:#d20;
}
.loading{
    background: url("/_img/loading.gif") no-repeat scroll 0 50% transparent;
    height: 9px;
    width: 20px;
}
td {
    border: 1px solid rgb(238, 238, 238);
    padding: 66px 66px 66px 42px; 
    width: 151px;
}
td, th {
    text-align: left; padding: 7px 7px 7px 41px; 
}
#bind {
    margin-left: 43px;
 }
.item { 
    padding-top: 22px;
}
#bind label { 
    display: inline-block; 
    font-size: 16px; 
    margin-right: 7px; 
    text-align: right; 
    width: 65px; 
}
#bind input { 
    border: 1px solid rgb(204, 204, 204); 
    font-size: 14px; 
    line-height: 28px; 
    margin-right: 14px;
    padding: 7px; 
    width: 338px; 
}
#bind select { 
    border: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    width: 266px;
}
