.sell_wrap{
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-top: 50px;
    width: 900px;
}
#pay{
    margin-left:185px;
}
.errtip{
    margin-left: 85px;
    color:#edec4e;
}
.loading{
    background: url("/_img/loading.gif") no-repeat scroll 0 50% transparent;
        height: 9px;
            width: 20px;
}
.item {
    margin-bottom: 22px;
}
#sex_hint{
color:red;
margin-left: 7px;
}
#pay label {
    display: inline-block;
    font-size: 16px;
    margin-right: 7px;
    text-align: right;
    width: 65px;
}
#pay input {
    border: 1px solid #CCCCCC;
    font-size: 14px;
    line-height: 28px;
    margin-right: 14px;
    padding: 7px;
    width: 250px;
}
#pay select {
    border: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    width: 266px;
}
.title {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 16px;
    margin: -28px 148px 32px 10px;
    padding: 12px;
    text-align: center;
}
.login{
   margin-bottom:42px;
    margin-left: 263px;
    width: 200px;
text-align:left;
font-size:16px;
}
.price{
display:inline-block;
padding-left: 9px;
}
.day_err{
color:red;
}
.back_a{
    background: url("/_img/p.gif") repeat scroll 0 0 transparent;
    float: left;
    height: 62px;
    margin-top: 128px;
    position: fixed;
    width: 52px;
}
