#SNMD {
margin-right: 50px;
}
.content{
font-size:14px;
padding:14px 0;
width:700px;
margin:auto;
line-height:32px;
font-family:Georgia;
}
.logo_title{
text-align:left;
color:#d10;
font-family:trebuchet ms;
font-size:18px;
margin:28px 0;
}
.logo_title .R{
line-height:30px;
font-size:16px;
}
h1{
text-align:center;
border:1px dotted #ccc;
margin:14px 0;
padding:14px 0;
}
h2{
margin:48px 0 16px;
padding:8px 0;
border-bottom:1px dotted #ccc;
border-top:1px dotted #ccc;
text-align:center;
}
h3{
margin:7px 0;
line-height:18px;
padding-left:8px;
border-left:4px solid #ccc;
}
pre{
font-family:Consolas,Verdana;
padding:14px;
border:1px dotted #ccc;
background:#fefefe;
word-wrap:break-word;overflow:hidden;word-break:break-all;white-space:pre-wrap;white-space:-moz-pre-wrap;*white-space:pre;*word-wrap:break-word;
margin:14px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}
#plans{
margin:0 -12px 16px;
margin-left:auto;
margin-right:auto;
}
#plans td {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  text-align: center;
  width: 140px;
}
td {
  border: 1px solid #CCCCCC;
  vertical-align: top;
}
#plans p {
  font-size: 16px;
  line-height: 16px;
}
#plans span {
  border-bottom: 1px solid #CCCCCC;
  color: #0066CC;
  display: block;
  font-size: 15px;
  margin: 0 16px;
  padding-bottom: 4px;
}
#plans ul {
  margin: 0;
  padding: 0;
}
#plans .neicun{
color:#060;
font-size:15px;
border-bottom:1px solid #ccc;
margin:0 16px 28px;
padding:16px 0;
}
#plans ul li {
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
}
.country_tag {
  background: #D10;
  color: #FFFFFF;
  left: -70px;
  padding: 4px 12px;
  position: absolute;
  top: 12px;
  -moz-border-radius: 10px 0 10px 0;
-khtml-border-radius: 10px 0 10px 0;
-webkit-border-radius: 10px 0 10px 0;
border-radius: 10px 0 10px 0;
}
.table_wrap{
position:relative;
margin-bottom:56px;
}

.subtext {
  color: #999999;
  font-size: 15px;
  font-style: italic;
  line-height: 1.3em;
  margin-bottom:56px;
  text-align: left;
}
#plans .memory{
color:#060;
font-size:15px;
border-bottom:1px solid #ccc;
margin:0 16px 28px;
padding:16px 0;
}
.buy_a{
  border-top: 1px dotted #CCCCCC;
  color: #0000FF;
  font-size: 16px;
  line-height: 48px;
  padding: 1px 0 0;
  width: auto;
  display:block;
  font-family:georgia;
}
.buy_wrap{
margin-top:28px;
}
.item{
margin-bottom:22px;
}
#pay{
width:470px;
margin:0 auto 0;
}
.login{
margin-bottom:1px solid #eee;
font-size:16px;
padding-bottom:32px;
text-align:center;
}
#pay label{
display: inline-block;
margin-right: 7px;
text-align: right;
width: 100px;
font-size:16px;
}
#pay input{
padding:7px;
width:300px;
font-size:14px;
border:1px solid #ccc;
line-height:28px;
margin-right:14px;
}
#pay #count{
width:100px;
}
.title{
padding:12px;
border-bottom:1px dotted #ccc;
margin:-28px 0 32px;
text-align:center;
font-size:16px;
}
#pay #sum{
width:50px;
}
#pay select{
border: 1px solid #ccc;
font-size: 16px;
padding: 8px;
text-align: center;
width: 317px;
}
.symbol{
margin:0 14px;
font-size:16px;
color:#444;
}
#price, #num, #money{
color:#444;
font-size:22px;
}
.btnw{
border: 1px solid #CCCCCC;
display: inline-block;
height: 42px;
}
#buy_btn{
background-color: #FFFFFF;
background-image: -moz-linear-gradient(#FFFFFF, #F3F3F3);
border: 0 none;
color: #555555;
cursor: pointer;
display: inline-block;
font-size: 16px;
height: 42px;
line-height: 41px;
margin: 0;
overflow: visible;
padding: 0 28px 2px;
text-align: center;
vertical-align: text-bottom;
white-space: nowrap;
z-index: 1;
}
#buy_btn:active{
color:#666;background-color:#f3f3f3;
background-image:-webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#fff));
background-image:-moz-linear-gradient(#f3f3f3,#fff);
background-image:-o-linear-gradient(#f3f3f3,#fff);
background-image:linear-gradient(#f3f3f3,#fff);
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',EndColorStr='#ffffff')
}
#sex_hint{
color:#999;
font-size:14px;
}
#pay #sex{
width:72px;
margin-right:14px;
}
.back_a {
  background: url(/img/gif/p.gif) repeat 0 0;
  float: left;
  height: 62px;
  margin-top: 128px;
  position: fixed;
  width: 52px;
}
.vps_nav{
text-align:center;
}
.vps_nav a{
padding:0 14px;
}
.vps_nav2_wrap{
overflow:hidden;
}
.vps_nav2{
margin-left:-1px;
text-align:left;
margin-bottom: 32px;
line-height:28px;
}
.vps_nav2 span{
border-left: 1px solid #ccc;
display:inline-block;
}
.vps_nav2 a{
color:#999;
display:inline-block;
width:135px;
text-align:center;
}

.vps_nav2 a:hover{
color:#d20;
}

.between_table{
margin:-28px 0 28px;
}
ol{
list-style-type:decimal;
}
