.content{
    font-family: Georgia;
    font-size: 14px;
    line-height: 32px;
    padding: 14px 0;
    width: 700px;
    float:left;
    margin-left:200px;
    margin-top: 57px;
}
.LVNav {
    line-height: 24px;
    margin-bottom: -2px;
    overflow: auto;
}

.LVNav_a {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    margin-right: 32px;
    padding: 0 4px 14px;
}
.LVNavNow {
    border-bottom: 3px solid #AA1100;
    color: #000000;
}
#r_list {
    padding-bottom: 48px;
    padding-right: 0;
}
.LVc {
    border-top: 1px dotted #CCCCCC;
}
.LVc table {
    width: 100%;
}
.r_list {
    color: #000000;
    width: 100%;
}
tr, td, table {
    border-spacing: 0;
}
.LVc td {
    border-bottom: 1px dotted #CCCCCC;
    padding: 9px 0 9px 4px;
    vertical-align: middle;
    text-align:left;
}
.td_ipv4 {
    text-align: center;
    width: 100px;
}
.td_hd {
    text-align: center;
    width: 150px;
}
.td_deadline {
    text-align:left;
    width: 200px;
}

