.content{
    font-family: Georgia;
    font-size: 14px;
    line-height: 32px;
    padding: 14px 0;
    width: 700px;
    float:left;
    margin-left:200px;
    margin-top: 57px;
}
.LVNav {
    line-height: 24px;
    margin-bottom: -2px;
    overflow: auto;
}

.LVNav_a {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    margin-right: 32px;
    padding: 0 4px 14px;
}
.LVNavNow {
    border-bottom: 3px solid #AA1100;
    color: #000000;
}
.LV table{
width:110%;
}
#LVlink {
    padding-top: 27px;
    }
#LVlink div {
    padding-bottom: 27px;
    }
.LVc {
    border-top: 1px dotted #CCCCCC;
}
#LVlink input {
    font-size: 23px;
    padding: 7px;
    width: 420px;
}

.LVlinkCharge {
    margin-left: 64px;
}
.mt27 {
    margin-top: 27px;
}

.tb {
    border-top: 1px dotted #ccc; 
    border-bottom: 1px dotted #ccc; 
}

.tb th{
    width: auto;
    text-align: left;
    padding: 16px 0 10px 4px;
}

