<%!
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 机房 - ip</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%namespace file="/_util/html.html" name="html"/>
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
    
<%html:form> 

${page|n}
    

<script language="javascript">
    function delete_ip(id, ip_type, name) {
        if (!confirm ('delete ' + name + " ?")) {
            return;
        }
        $.postJSON ("/god/ip/"+ip_type+"/rm/" + id, function o (data) {
            return location.reload ();
        })
    }
</script>

<div>
    ${datacenter and datacenter.name} <a href="/god/ip/1/list/${datacenter and datacenter.id}" >外网IP列表</a> <a href="/god/ip/0/list/${datacenter and datacenter.id}" >内网IP列表</a>
</div>    
<div> <span> ip查找 <input name="find_ip" type="text" size="20" value="${find_ip}" > <input type="submit" value="find"> </span> | 
<span><a href="/god/ip/new/${datacenter and datacenter.id}"> 新增IP </a>  </span>
</div>
        
<table class="vps_room">
<tr>
    <th>IP</th>
    <th>VPS</th>
    <th>掩码</th>
    <th>网关</th>
    <th>MAC</th>
    <th></th>
</tr>
    
%for i in ol:
<tr>

    <td>${i.ip_str}</td>
    <td>
        %if i.vm_id:
             <a class="aH" href="/god/vm/${i.vm_id}" target="_blank">${i.vm_id}</a>
        %endif
    </td>
    <td>${i.netmask_str}</td>
    <td>${i.gateway_str}</td>
    <td>${i.mac}</td>
    <td><a href="#" onclick="return delete_ip(${i.id}, ${ip_type}, '${i.ip_str}')">删除</a></td>
</tr>
%endfor

</%html:form>
