<%!
from model.vps.ip import vps_ip_new
from model.vps.datacenter import vps_datacenter_list
%>

<%

datacenters = vps_datacenter_list ()
%>

<%inherit file="../_base.html" />
<%def name="html_title()">主机 - IDC </%def>
<%namespace file="/_util/html.html" name="html"/>

<%html:form> 

<h3> 添加IP </h3>
<div>
    外/内
<select name="ip_type">
    <option value="1" >外网</option>
    <option value="0" >内网</option>
</select> 
</div>
<div>
    机房
<select name="data_center">
%for i in datacenters:
<option value="${i.id}" ${ ip.data_center_id == i.id and 'selected' or ''}>${i.name}</option>
%endfor
</select> ${errtip.data_center|n}
</div>

<div>
    地址 <input name="ip_begin" value="${ip.ip_begin}"> ${errtip.ip_begin|n} 至 
<input name="ip_end" placeholder="可以留空, 不可缩写" value="${ip.ip_end}" > ${errtip.ip_end|n}
</div>
<div>
    掩码 <input name="netmask" value="${ip.netmask}"> ${errtip.netmask|n}
</div>
<div>
    网关 <input name="gateway" value="${ip.gateway}"> ${errtip.gateway|n}
</div>

<button>提交</button>
</%html:form>

