<%!
from model.vps.ip import vm_ip_list
from model.vps.vm import Vm
from model.vps.domain import domain_list as _domain_list
from model.vps.const import VM_DOMAIN 
%>
<%inherit file="/_auto_base.html" />
<%namespace file="/_util/html.html" name="html" />
<%def name="head()">
<link rel="stylesheet" href=${css.vps_domain|n} type="text/css">
<script src="${js.vps_domain}"></script>
</%def>
<%
vm = Vm.mc_get(vm_id)
%>
<div style="width: 900px; margin: auto;">
	<% domain_list = _domain_list(vm_id) %>
	%if domain_list:
    <div class="item" style="width: 900px; margin: auto;">
        <table>
            <tr>
                <th>域名</th><th>IP</th><th>状态</th><th></th>
            </tr>
			%for i  in domain_list:
			<tr>
                <td>${i.domain}</td> <td>${i.ip}</td><td>${VM_DOMAIN[i.state]}</td><td><a href="javascript:domain_rm(${vm_id}, ${i.id});void(0)">删除</a></td>
			</tr>
			%endfor
       </table>
    </div>
	%endif
    <%html:form id="bind">
    <div class="item">  <a href="/admin/${vm_id}">VPS${vm_id}</a></div>
	<div class="item">
		<input placeholder="域名" id="domain" value="" name="domain" type="text"><span style="margin-left: 29px;"> 若未备案 , 请配置反向代理 , <a target="_blank" href="http://help.42qu.com/vps/beian.html">详情见此</a></span>
	${errtip.domain|n}
	</div>
    <div class="item">
        <div>
			<input name="record" id="record" value="1" style="width: auto; margin: 0px;" type="checkbox">
			<label style="margin-left: 0px; width: auto; padding-left: 12px;" for="record">已备案</label> 
        </div>
        <input style="margin-top: 17px; display: none;" name="recorded" value="" placeholder="备案号" id="recorded" type="text">

    </div>
    <div class="item" style="padding-left: 1px;">
        <span class="btnw"><button id="buy_btn">提交绑定</button></span>
    </div> 
    </%html:form>
 </div>
<%if request.method == "POST": 
    update_nginx = 1 
else:
    update_nginx = 0 
%>
%if update_nginx==1: 
<script>$.getScript('http://b.42qu.net:42421/${vm.id}')</script>
%endif
