<%!
from misc.lib.base.timetool import days2today
from model.vps.vm import vm_list_by_user_id 
from model.vps.const import VM_STATE_CN
%>
<%inherit file="../_base.html" />
<%def name="head()">
<link rel="stylesheet" href="${css.vps_list|n}" type="text/css">
<script src="${js.vps_reboot}"></script>
</%def>

<div class="LV">
    <div id="LVNav" class="LVNav">
        <a href="/admin" class="LVNav_a LVNavNow">列表</a>
    </div>
    <div id="r_list" class="LVc">
        <table class="r_list">
            <tbody>
                <tr class="r_reply_th">
                    <td class="tc">VPS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="td_deadline">到期时间</td>
               </tr>
%for vm in vm_list_by_user_id(current_user_id):
               <tr class="r_reply_tr">
<td class="tc">${vm.id}</td>
    %if vm.country_id == 1: 
        <td class="td_opt tc"><a href="/admin/${vm.id}">管理</a></td>
        <td class="td_opt tc"><a href="javascript:reboot(${vm.id});void(0)">重启</a></td>
    %else: 
		<td class="td_opt tc"><a href="/admin/${vm.id}">查看</a></td>
        <td class="td_opt tc"></td>
    %endif
<td class="td_opt tc"><a href="/renew/${vm.id}">续费</a></td>
<td class="tc">${VM_STATE_CN[vm.state]}</td>
<td class="td_deadline">${days2today(vm.date_end)}</td>
               </tr>
%endfor
            </tbody>
        </table>
    </div>
</div>
