<%!
from misc.lib.base.timetool import days2today
from model.vps.datacenter import vps_datacenter_dict, VPS_COUNTRY_CODE2ID
from model.vps.bank import vm_bank_get, vm_cost_list 
from model.vps.vm_os import VPS_OS_DICT 
from misc.lib.vps.ip import int2ip, ip2int
from model.vps.ip import VpsIp
from model.vps.ip_inner  import VpsIpInner 
from model.vps.mail import remind_mail_list
from model.vps.vm_harddisk import vm_harddisk_list
from model.vps.const import REMIND_MAIL
from model.base.user_mail import mail_by_user_id
%>
<%inherit file="../_base.html" />
<%def name="head()">
<link rel="stylesheet" href="${css.vps_admin|n}" type="text/css">
<script src="${js.vps_os}"></script>
</%def>
<%
template = vm.template
datacenter_dict = vps_datacenter_dict ()
%>
<div class="LV">
    <div id="LVNav" class="LVNav">
<a href="/admin" class="LVNav_a">列表</a>\
<a href="/admin/${vm.id}" class="LVNav_a LVNavNow">${vm.id}</a>
<a href="javascript:vm_transfer(${vm.id});void(0)" class="LVNav_a"  >转让</a>\

    </div>
    <div id="r_list" class="LVc">
<table class="r_list"><tbody>
<tr class="r_reply_tr"><td>用户</td><td>root</td>\
</tr>\
<tr class="r_reply_tr"><td>密码</td><td>${vm.password}</td></tr>\
<tr class="r_reply_tr"><td>域名</td><td></td><td><a href="/admin/domain/${vm.id}">绑定</a></td></tr>
<tr class="r_reply_tr"><td>通知邮箱</td>
    <%
        user_mail = mail_by_user_id(vm.user_id)
    %>
    <td>${user_mail}</td>
    <td><a href="javascript:void(0)" class="mail_new" rel="${vm.id}">添加</a></td>
</tr>\
<%
    mail_list  = remind_mail_list(vm.id)
%>
%for id, mail in mail_list: 
<tr>
    <td></td>
    <td>
        ${mail} 

    </td>
    <td>
        %if id > 0:
        <a  href="javascript:mail_del(${vm.id}, ${abs(id)});void(0)" >删除 </a>
        %else:
        <a  href="javascript:mail_renew(${vm.id}, '${mail}');void(0)">待认证,点此重新验证</a>
        %endif
    </td>
</tr>
%endfor
<tr class="r_reply_tr"><td>机房</td><td>${datacenter_dict[vm.data_center_id].name}</td></tr>\
<tr class="r_reply_tr"><td>硬盘</td><td>${template.hd} G</td></tr>\
<tr class="r_reply_tr"><td>虚拟设备</td><td>大小</td><td>挂载点</td></tr>
%if vm.country_id == VPS_COUNTRY_CODE2ID.get ('cn'):
    <%
            disks = vm_harddisk_list (vm.id)
    %>
    %for disk in disks:
        <tr class="r_reply_tr"><td>${disk.device_name}</td><td>${disk.size}G</td><td>${disk.mount_point}</td></tr>
    %endfor
    <tr class="r_reply_tr"></tr>
%endif
<tr class="r_reply_tr"><td>CPU</td><td>${template.cpu}</td></tr>\
<tr class="r_reply_tr"><td>内存</td>
<td>
%if template.ram < 1024:
${template.ram} M
%else:
${template.ram/1024} G
%endif
</td>
</tr>\
<tr class="r_reply_tr"><td>系统</td>
<td>${VPS_OS_DICT[vm.os_id]}</td>
<td>
%if vm.country_id == VPS_COUNTRY_CODE2ID.get ('cn'):
<a href="javascript:os(${vm.id});void(0)" class="">重装</a>
%endif
</td>
</tr>\
<tr class="r_reply_tr"><td>IP</td>
<%    
    vm_ip_ext_list = list(VpsIp.where (vm_id=vm.id).column('ip') )
    vm_ip_inner_list = list(VpsIpInner.where (vm_id=vm.id).column('ip') )
    _vm_ip_list = vm_ip_ext_list + vm_ip_inner_list
    vm_ip_list = map(int2ip, _vm_ip_list)
%>
<td>${" / ".join(vm_ip_list)}</td>
</tr>\
<tr class="r_reply_tr"><td>租赁费用</td>
<%
_cost_list = vm_cost_list(vm.id)
%>
<td>
%for i in _cost_list:
<div>${days2today(i.begin)} - ${days2today(i.end)} </div>
%endfor
</td>
<td>
%for i in _cost_list:
<div>${i.price} 元</div>
%endfor
</td>

</tr>\
<tr class="r_reply_tr"><td>目前剩余</td>
<td>${vm_bank_get(vm.id)/100.0} 元</td>
</tr>\

</tbody></table>    
    </div>
</div>
