<%!
from misc.config import HOST 
from misc.config.user import KIND
from model.user.kind import KIND2NAME
%>

<%inherit file="/_base.html" />
<%namespace file="/_util/html.html" name="html"/>

<%def name="html_title()">验证邮箱</%def>
<script src="${js.lib_date|n}"></script>
<script src="${js.lib_earth}"></script>
<%def name="html_head()">
<link rel="stylesheet" href="${css.user_archive|n}" type="text/css">
<link rel="stylesheet" href="${css.auth_verify|n}" type="text/css">
</%def>
<div class="main_wrap">
<div style="padding-bottom:60px; opacity: 0.88;">
    <div class="edit_wrap  c box">
    %if verify:
    <div class="verify">${verify|n}</div>
    %elif level:
    <div>您已通过验证,<a href="/">点此返回</a></div>
    %else:
    <div>您已通过验证,欢迎注册${HOST}</div>
        <%html:form>
            <p class="text_content" >
               <label for="name" class="label_input label">本人名叫</label> 
               <input name="name" autocomplete="off" id="name" type="text">
            </p>
            <p class="text_content" >
               <label for="password" class="label_input label">密码</label> 
               <input autocomplete="off" value=""  type="password" name="password" id="password" type="text">
            </p>
            <p class="text_content">
                <label for="sex" class="label_input label">性别</label> 
                <select name="sex" id="sex">
                    <option value="0"></option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
                <span class="attention">注意：创建帐号之后，无法修改此项 </span>
            </p>
            <p class="text_content">
                <label for="kind" class="label">行业</label>
                    <select name="kind" id="kind">
                        %for k, v in KIND2NAME.items():
                            <option value="${k}">${v}</option>
                        %endfor
                    </select>
            </p>
            <p class="text_content">
                <label for="birthday" class="label">生于</label>
                <span id="birthday">
                    <input type="hidden" value='0' name="birthday" />
                    <script>select_birthday("birthday")</script>
                </span>
            </p>
            <p class="text_content">
                <label for="address" class="label">现居</label>
                <span id="city">
                    <input type="hidden" name="city" value='1' />
                    <script>earth("city",0)</script>
                </span>
            </p>
           <div class="save">
            <input type="submit" class="BTN BTN" value="保存" />
            <input name="_xsrf" type="hidden" value="">
           </div> 
        </%html:form>
    %endif
    </div>
</div>
</div>
