<%!
from model.vps.const import BILL_CLASS 
from model.base.gid import CID
from model.vps.bill import vm_bill_list_expiring
from misc.lib.base.timetool import days2today, days2month
from  model.vps.datacenter import  VPS_COUNTRY_ID2NAME
%>

<%inherit file="../_base.html" />
<%def name="html_title()">结算清单</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>

<%namespace file="/_util/html.html" name="html"/>

%for k, v in BILL_CLASS.iteritems():
   <a href="/god/bill/${k}">${v}</a>
%endfor 

<%
month = None 
%>
        <table> 
        <tr><th>月份</th><th>即将到期</th><th>拟续费收入</th><th>Template</th><th>交易额</th><th>交易量</th></tr>
        %for bill in bill_list:
        <tr>
               %if month == days2month(bill.days):
               <td></td><td></td><td></td>
               %else: 
               <%
                 month = days2month(bill.days)
               %>
               <td>${month}</td>
               <%
               detail_list = vm_bill_list_expiring(bill.days)
               %>
               <td>${detail_list[0]}/个</td>
               <td>${detail_list[1]/100}元</td>
               %endif
               %if bill.cid == CID.BILL_TEMPLATE:
               <td> ${VPS_COUNTRY_ID2NAME.get(bill.things.column[0])} ${bill.things.column[1]}</td>
               %else:
               <td> ${bill.things.column}</td>
               %endif
               <td> ${bill.cent/100}元 </td>
               <td> ${bill.volume} </td>
               <td><a href="/god/bill/month/${bill.days}">查看</a></td>
        </tr>
        %endfor
        </table>
