<%
from model.vps.const import BILL_CLASS 
from model.base.gid import CID
from  model.vps.datacenter import  VPS_COUNTRY_ID2NAME
%>
<%inherit file="../_base.html" />
<%def name="html_title()">月结算清单</%def>
<%def name="head()"> 
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%def name="bill_list_render(bill_cid, bill_list)">
        <table> 
        <tr><th>Template</th><th>交易额</th><th>交易量</th></tr>
        %for bill in bill_list:
        <tr>
            %if bill.cid ==bill_cid:
               %if bill.cid == CID.BILL_TEMPLATE:
               <td> ${VPS_COUNTRY_ID2NAME.get(bill.things.column[0])} ${bill.things.column[1]}</td>
               %else:
               <td> ${bill.things.column}</td>
               %endif
               <td> ${bill.cent/100}元 </td>
               <td> ${bill.volume} </td>
             %endif
        </tr>
        %endfor
        </table>
</%def>
        <%
        cent = 0
        volume= 0
        for bill in bill_list:
            if bill.cid ==CID.BILL_COUNTRY:
                cent += bill.cent 
                volume += bill.volume
        %>
        <div>截至${days},本月共交易:${volume}笔  金额:${cent/100}元</div>
<table>
        <tr><td>国家</td><td>${bill_list_render(CID.BILL_COUNTRY,bill_list)}</td></tr>
        <tr><td>机房</td><td>${bill_list_render(CID.BILL_DATA_CENTER,bill_list)}</td></tr>
        <tr><td>模版</td><td>${bill_list_render(CID.BILL_TEMPLATE,bill_list)}</td></tr>
        <tr><td>交易类型</td><td>${bill_list_render(CID.BILL_GOODS_CID,bill_list)}</td></tr>
</table>
