<%!
from model.vps.const import BILL_CLASS 
%>

<%inherit file="../_base.html" />
<%def name="html_title()">结算清单</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>

<%namespace file="/_util/html.html" name="html"/>

%for k, v in BILL_CLASS.iteritems():
    <div><a href="/god/bill/${k}">${v}</a></div>
%endfor 
