<%!
from model.vps.datacenter import VpsDataCenter, vps_datacenter_list, VPS_COUNTRY_ID2NAME 
from model.vps.host import vps_host_count
from model.vps.ip import vps_ip_used_total
from model.vps.const import VM_IP_TYPE

%>

<%

datacenters = vps_datacenter_list ()
host_count = vps_host_count ()
ip_used_count, ip_total_count = vps_ip_used_total ()
if not ip_used_count:
    ip_used_count = dict ()
if not ip_total_count:
    ip_total_count = dict ()
if not host_count:
    host_count = dict ()
%>

<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 机房</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%namespace file="/_util/html.html" name="html"/>
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">

<div >操作 <span> <a href="/god/host/new">添加主机</a> </span> <span> <a href="/god/ip/new" >添加ip</a></span> </div>
<br >
<table cellspacing="1">
    <TR><TH>名称</TH><TH>已用IP/总IP</TH><TH>物理机</TH><TH>国家</TH><TH></TH></TR>
    %for data_center in datacenters: 
    <tr>
        <td> ${data_center.name} </td>
        <td> <a href="/god/ip/${VM_IP_TYPE.HAS_IP_EXT}/list/${data_center.id}" >${ip_used_count.get (str(data_center.id)) or 0 } / ${ip_total_count.get (str(data_center.id)) or 0 } </a> </td>
        <td><a href="/god/host/list/${data_center.id}"> ${ host_count.get (str(data_center.id)) or 0 } </a> </td>
        <td> ${VPS_COUNTRY_ID2NAME.get (data_center.country_id )} </td>
        <td> ${data_center.is_full and '隐藏' or '销售中'}  <a href="/god/datacenter/toggle_full/${data_center.id}">修改</a></td>
    </tr>
    %endfor
</table>
