<%inherit file="/_mail.html" />
<%!
from misc.config import HOST
%>
${HOST} VPS(编号 ${id}) 因到期被关闭 


<p>请访问 </p>

<p> <a href="http://vps.${HOST}/admin" target="_blank">http://vps.${HOST}/admin</a> </p>
续费后恢复

<p>我们将为您保留15天镜像 , 逾期将删除所有数据</p>


<p>如有问题 , 请您邮件 42qu.vps@gmail.com</p>

 
