<%inherit file="/_mail.html" />
<%!
from misc.config import HOST
%>
${HOST} VPS续费提醒 ( VPS编号：${id} 即将到期 )

<p>主机VPS${id} 将于${warning_days}天后到期</p>

<p>请访问:<a href="http://vps.${HOST}/admin" target="_blank">http://vps.${HOST}/admin</a> 续费<p>


如有问题 , 请您邮件 42qu.vps@gmail.com


 
