<%inherit file="/_mail.html" />
<%!
from misc.config import HOST
from model.vps.vm import Vm
%>

<p>主机编号 : ${id}</p>
<p>外网IP : ${" / ".join(ip_list)}</p>
<p>帐号 : root</p>
<p>密码 : ${password}</p>

<p><b style="font-weight:bold">管理 </b>:</p> 

<p> <a href="http://vps.${HOST}/admin" target="_blank">http://vps.${HOST}/admin</a> ,  各种功能陆续开发中 :) </p>


<p><b style="font-weight:bold">注意 </b>:</p> 
<p>为了您的网站避免DDoS攻击，推荐您使用<a href="http://anquanbao.com/">安全宝</a></p> 
<p>如果您请求运维上的协助 , 我们将会以邮件中root密码登录</p>
<p>若您有重要的数据或代码 , 请您修改root密码 ( 即取消我们的root登录权限 )</p>
<p>如有任何问题, 请发邮件到 42qu-vps@googlegroups.com 联系我们 :)</p>

<p><b style="font-weight:bold">返现 </b>:</p>
<p>
引导新用户购买主机 , 可以获得返现提成 , <a href="http://vps.42qu.com/reword#!link" target="_blank">点此浏览详情</a>
</p> 

<p><b style="font-weight:bold">备案 </b>:</p>
<p>
中国主机请遵守国家规定备案 , <a href="http://doc.42qu.com/vps/index.html" target="_blank">点此浏览备案流程</a>
</p> 
<p>
若未备案 , 请配置反向代理 , <a href="http://help.42qu.com/vps/beian.html">详情见此</a>
</p>


<p><b style="font-weight:bold">资料</b> :</p> 
<p><a href="http://www.vpsee.com/2010/06/time-synchronization-in-domain0-and-domainu/" target="_blank">如何永久修改虚拟机的时间</a></p>
<p><a href="http://lnmp.org/" target="_blank">LNMP一键安装包</a> : <span style="font-size:12px">一键为CentOS/RadHat、Debian/Ubuntu 安装 Nginx、MySQL、PHP、phpMyAdmin</span></p>
<p><a href="http://doc.42qu.com/linux/xshell.html" target="_blank">SSH 登录 Linux服务器 流程说明</a></p> 
<p><a href="http://www.vpsee.com/2009/06/nginx-virtual-hosting-configuration/" target="_blank">Nginx 的多站点配置</a></p>
<p><a href="http://www.vpsee.com/2011/04/some-nginx-rewrite-examples-for-subdirectories/" target="_blank">几个 Nginx 子目录 rewrite 的例子</a></p>


<p><b style="font-weight:bold">敬告</b> :</p> 
<p>请勿擅自进行进行无节制大流量的测试</p> 
<p>若未事先通知就大流量测试并影响其他用户正常使用的情况，将视为攻击处理</p> 
<p>如果平常时段拷贝大量数据，建议限速1MB/s；或者在23:00以后操作</p>




