<%inherit file="/_mail.html" />
<%!
from model.vps.vm import Vm
from model.base.user_mail import mail_by_user_id 
%>


<p>您好 :</p>
<p>
<%
    vm = Vm.mc_get(rid)
%>
    用户${mail_by_user_id(vm.user_id)}添加您的邮箱(${mail})为VPS${rid}提醒邮箱，因此我们发送这封邮件进行确认。
</p>

<p>请在七天内点击下面的链接来验证你的邮箱。</p>

<p> <a href="${link}" target="_blank">${link}</a> </p>



