<%inherit file="/_mail.html" />
尊敬的42qu vps用户：<br />
<p>由于我们计划对您的编号为${id}的vps所在的物理机进行升级，我们会在${op_time}的时间段内将您的vps迁移到另一台物理机，迁移过程中会需要10秒钟的时间重启vps，由此带来的不便请原谅。</p>
<p>如有问题请发邮件到 42qu-vps@googlegroups.com</p>
