<%!
from misc.config import HOST_URL, HOST
from collections import OrderedDict
%>
<%inherit file="/sns/_base.html" />
<%namespace file="/_util/html.html" name="html" />

<%def name="html_title()">42区 Xen VPS 虚拟主机</%def>
<%
url_dict = OrderedDict()
url_dict['link']="返现"
url_dict['admin']="主机"
%>
<div class="Iwp">
<div class="Lwp">
<div class="LNavW"><a href="/" class="lNav lNavT">购买</a></div>

%for k,v in url_dict.items():
    <div class="LNavW"><a href="/${k}" class="lNav lNavT
    %if request.path[1:].startswith(k):
        lnavselected
    %endif
    ">${v}</a></div>
%endfor
</div>
<div class="Rwp">
${next.body()}
</div>
</div>
