<%!
from model.vps.vm_os import VPS_OS_DICT, VPS_OS_SHOW 
from model.vps.datacenter import vps_datacenter_list
%>
<%inherit file="/_auto_base.html" />
<%namespace file="/_util/html.html" name="html" />
<%def name="head()">
<link rel="stylesheet" href=${css.vps_sell|n} type="text/css">
</%def>

<div class="sell_wrap">
    <a href="/" class="back_a"></a>
    %if not current_user_id:
    <div class="login">
    填写 注册信息 或 <a href="javascript:login();void(0)">点此登录</a>
    </div>
    %endif

    <div>
    </div>


    <%html:form id="pay">


    %if not current_user_id:

    <div class="item">
        <label for="email">邮箱</label>
        <input id="email" type="text" name="mail" value="${mail or ''}">
    ${errtip.mail|n}
    </div>

    <div class="item">
        <label for="pwd">密码</label>
        <input id="pwd" type="password" name="password" value="${password or ''}">
    ${errtip.password|n}
    </div>

    <div class="item">
        <label for="name">姓名</label>
        <input id="name" type="text" name="name" value="${name or ''}">
    ${errtip.name|n}
    </div>

    <div class="item">
<label for="sex">性别</label>
<select id="sex" name="sex">
            <option value="0"></option>
            <option ${'selected' if sex==1 else ''} value="1">男</option>
            <option ${'selected' if sex==2 else ''} value="2">女</option>
        </select>
        <span id="sex_hint">注意 : 创建账号之后 , 无法修改此项</span>
    ${errtip.sex|n}
    </div>
    %endif
    <div class="item">
        <label >内存</label>\
%if template.ram < 1024:
${template.ram} M
%else:
${template.ram/1024} G
%endif
    </div>

        <div class="item">
            <label for="data_center">机房</label>
            <select name="data_center" id="data_center">
                <%
                    datacenters = vps_datacenter_list (country_id=template.country)
                %>
                % for i in datacenters:
                    % if not i.is_full:
                    <option value="${i.id}">${i.name}</option>
                    % endif
                % endfor
            </select>
        </div>
    <div class="item">
<label for="os">系统</label>
<select name="os" id="os">
            % for id in VPS_OS_SHOW:
            <option value="${id}" >${VPS_OS_DICT[id]}</option>
            % endfor
        </select>
        ${errtip.os|n}
    </div>


%if template.country == 2:
    <div class="item">
        <label>天数</label>
        <select name="days" id="days">
        <option value="30">月付</option>
        <option value="91">季付</option>
        <option value=365>年付</option>
    </select></div>
%else:
    <div class="item"><label>天数</label>
    <input id="days" type="text" value="${days}" name="days" autocomplete=off><span class="day_err"></span></div>
%endif
    <div class="item">
        <label for="price">总价</label><div class="price"></div>
    </div>
    <div class="item">
        <label></label>
        <span class="btnw"><button id="buy_btn">购买主机</button></span>
    </div>
<input type="hidden" value="${template.id}" id="template">
    </%html:form>
</div>
<script src="${js.vps_price|n}"></script>



