<%!
from model.vps.vm_os import VPS_OS_DICT, VPS_OS_SHOW 
%>
<%inherit file="/_auto_base.html" />
<%namespace file="/_util/html.html" name="html" />
<%def name="head()">
<link rel="stylesheet" href=${css.vps_sell|n} type="text/css">
</%def>

<div class="sell_wrap">
    <a href="/admin" class="back_a"></a>
    <div style="margin:auto;width:600px;padding-top:65px;">
    
    <div style="margin-bottom:16px">vps${order.rid} 付款成功</div>
    <div>中国区 , 将于五分钟内自动开通 </div>
    <div>美国区 , 我们将人工于24小内给您开通</div>

    <div>开通后, 将邮件通知 到 您的邮箱, 请注意查收</div>
    <div>注: 可能被错识别为垃圾邮件</div>

    <div class="mt27">如有问题 , 请发邮件到 42qu-vps@googlegroups.com</div>

    </div>


</div>


