<%!
from model.vps.vm_os import VPS_OS_DICT, VPS_OS_SHOW 
%>
<%inherit file="/_auto_base.html" />
<%namespace file="/_util/html.html" name="html" />
<%def name="head()">
<link rel="stylesheet" href=${css.vps_sell|n} type="text/css">
</%def>

<div class="sell_wrap">
    <a href="/admin" class="back_a"></a>
<%
template = vm.template
user = vm.user
%>

    <%html:form id="pay">
<input type="hidden" value="${vm.vm_template_id}" id="template">
<div class="item" style="font-size:16px;margin-top:17px;margin-left:77px;margin-bottom:64px;">${user.name} vps${vm.id} 续费</div>
%if template.country == 2:
    <div class="item">
        <label>天数</label>
        <select name="days" id="days">
        <option value="30">月付</option>
        <option value="91">季付</option>
        <option value=365>年付</option>
    </select></div>
%else:
    <div class="item"><label>天数</label>
    <input id="days" type="text" value="${days or 365}" name="days" autocomplete=off><span class="day_err"></span></div>
%endif
    <div class="item">
        <label for="price">总价</label><div class="price"></div>
    </div>
    <div class="item" style="margin-top:64px">
        <label></label>
        <span class="btnw"><button id="buy_btn">续费</button></span>
    </div>
    </%html:form>
</div>
<script src="${js.vps_price|n}"></script>



