<%!
from model.vps.god import NAV 
%>
<%inherit file="/base/god/_base.html" />
${next.body()}
<%def name="nav()">
<form class="search" action="/god/vm/search">\
<input type="text" value="" placeholder="IP / 编号 / 用户邮箱" name="q" id="search" autocomplete="off">\
<input type="submit" class="search_btn" value="">\
</form>

</%def>
