<%
from misc.config import HOST
from model.pay.bank import Bank
%>
<%inherit file="../_base.html" />
<%def name="head()">
<link rel="stylesheet" href="${css.vps_link|n}" type="text/css">
</%def>


<div class="LV">
   <div id="LVNav" class="LVNav">
        <a class="LVNav_a" rel="link" href="/link">链接</a>
        <a class="LVNav_a LVNavNow" rel="bill" href="javascript:void(0);">账目</a>
    </div> 

<table border="1">
<tbody>
<tr class="tb">
    <th>使用者</th>
    <th >起始日</th>
    <th>消费额</th>
    <th>返现额</th>
    <th>点击源</th>
</tr>
% if bill_list:
    <%
    from misc.lib.base.time_format import date_by_time
    from model.base.user_mail import mail_by_user_id
    from misc.lib.base.hide_mail import hide_mail
    %>
    % for i in bill_list:
    <tr>
        <td>${hide_mail(mail_by_user_id(i.id))}</td>
        <td>${date_by_time(i.begin_time)}</td>
        <td>${i.cost/100.}元</td>
        <td>${i.reward/100.}元</td>
        <td>${i.referer}</td>
    </tr>
    % endfor
% endif
</tbody>
</table>
</div>
