<%inherit file="/_auto_base.html" />
<%!
from model.vps.template import VPS_COUNTRY_ID2NAME,  VPS_TEMPLATE_CN, VPS_TEMPLATE_US
from model.vps.vm_os import VPS_OS_DICT 
%>
<%def name="render_datacenter(template_list)">
</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_index|n}" type="text/css">
</%def>
<%def name="datacenter_render(template_list)">
    <table id="plans"><tbody><tr>
% for template in template_list:
    <td>
        <p class="neicun">
%if template.ram<1024:
${template.ram}M 
%else:
${template.ram//1024}G
%endif
        内存</p>
        <ul>
            <li>${template.cpu} core CPU</li>
            <li>${template.hd} GB 硬盘</li>
            <li>${template.netflow} GB 流量/月</li>
            <li>1 独立IP</li>
        </ul>
        <p class="buy_wrap">
%for cn, days in (("月",30),("季",91),("年",365)):
<a class="buy_a" href="/sell/${template.id}/${days}">${cn}付 ${template.price(days)}  </a>
%endfor
        </p>
    </td>
%endfor
    </tr></tbody></table>
</%def>

<div class="content">

<div class="logo_title"><div class="R">
% if current_user:
<a href="/admin">管理</a>
% endif
</div>42qu.com</div>
<div class="subtext">可选 ${" , ".join(set(i.split("-")[0] for i in VPS_OS_DICT.values()))}</div>

<div class="vps_nav2_wrap">
    <div class="vps_nav2">
    <span><a href="#country1">中国机房</a></span>\
    <span><a href="#country2">美国机房</a></span>\
    <span><a href="#real">独立主机</a></span>\
    <span><a href="#user">客户案例</a></span>\
    <span><a href="#aboutus">关于我们</a></span>\
    </div>
</div>
<div id="country1">
<div class="table_wrap" >
    <div class="country_tag">中国 VPS</div>
${datacenter_render(VPS_TEMPLATE_CN )}
</div>
<div>
<div>可以单独购买带宽(不限流量) , 每 1Mbps , 月付100元 , 年付1000元 (注 : 8Mbps = 1MB)<div>
<div>购买带宽请人工联系我们 : 42qu.vps@gmail.com</div>
<div>如果您有大流量的应用 , 推荐配合使用 <a href="http://42qu.us/oP46" target="_blank">又拍云存储 upyun.com</a> 来降低带宽成本</div>

<div>中国主机只欢迎正规网站 , 可以自行备案 或 代备到我公司名下 (100元/个,年付用户首个免费) <a href="http://doc.42qu.com/vps/index.html" target="_blank">点此查看流程</a> </div>
<div>网站可以先上线 , 后备案 ; 机房介绍如下 : </div>

<div style="margin-bottom:48px;margin-top:14px">
<div style="font-weight:bold;">北京市政府 . 石景山 . 北方工业大学机房</div>
<div>该机房是北京少见的BGP七线机房 , 由北京数据家联合北京市政府和北京市发改委出资2个亿共同搭建</div>
<div>联通、电信属于内网</div>
<div>在联通和电信线路上，与中国西单电报大楼机房50G内部直联；</div>
<div>与中国电信和中国铁通分别是42G和40G直联核心交换层，骨干延迟小于10ms</div>
<div>8G直联清华大学教育网骨干核心节点，仅1跳路由，与赛尔网同级别，是各大运营商中与教育网的最大直联带宽</div>
<div>内部直联15G独立国际出口带宽直插国际局，良好的国外访问</div>
<div>机房经典客户：PPlive、新浪网、赛迪网、开心网、土豆网</div>
</div>

</div>
</div>






<div id="country2">
<div class="table_wrap" >
    <div class="country_tag">美国 VPS</div>
${datacenter_render(VPS_TEMPLATE_US)}
</div>

</div>
</div>

<div class="between_table">美国主机可以随时更换和增加 IP , 美国各机房简介 <a href="#usa_data_center">查看细节</a></div>


<div id="real" class="table_wrap">
<div class="country_tag">独立主机</div>
<table id="plans"><tbody><tr>
 <td>
<div style="line-height:42px;padding:27px">
<div>我们以最实在的价格在 <b>北京地区</b> 为您提供 以下服务 </div>
<div>DELL服务器代购 + 安装系统 + 上线机器 + 购买带宽 + 重启运维  的 全套服务</div>
<div>还可以为您搭建 Openstack等企业私有云 以及 Hadoop集群 ...</div>
<div>您无需来回奔波于机房 , 无需为运维操心劳神 ,  只需专注于自己的核心业务 :)</div>
<div>详情请邮件联系我们 : 42qu.vps@gmail.com</div>
</div>
</td>
 </tr></tbody></table>
 
</div>


<h2>我们的联系邮箱是 <div><a style="color:#000" target="_blank" href="mailto:42qu.vps@gmail.com">
42qu.vps@gmail.com</a></div></h2>
<h2>我们的优势</h2>
<div style="width:500px;margin:auto">
<ol>
<li>可以提供 发票 与 <a href="http://css42.42qu.us/vps/heton.doc" target="_blank">合同</a>, 请邮件联系我们</li>
<li>服务器可以动态升级 , 最大支持125G内存</li>
<li>全部采用 Xen PV 虚拟技术, 服务器经过特别优化，追求最大性能</li>
<li>服务器资源有效隔离，保证每个 VPS 公平地使用自己的资源</li>
<li>硬盘采用RAID10, 任意一块硬盘损坏都可以在线热修复, 不影响网站运作</li>
<li>实在的服务器资源保证，不超售</li>
<li>提供XEN虚拟机迁移服务 , 将来可迁移到自己的服务器(500元/机)</li>
<li>ssh 登录和 root 权限，随意控制自己的系统</li>
<li>独立的 IP 地址</li>
</ol>
</div>


<h2 id="aboutus">我们是谁 ?</h2>
<%
US = (
    ("张沈鹏", "http://zuroc.42qu.com/", "42qu.com 创始人&程序员, 前豆瓣程序员"),  
    ('vpsee', "http://www.vpsee.com/about/", "国家生物信息实验室, 从事云计算和高性能计算"), 
    ('plan', "http://frostyplanet.42qu.com/", "前 百度运维 & 阿里云SA"), 
    ('realfex', "http://realfex.42qu.com/", "42qu.com 前端攻城师 "), 
)

%>

<div style="width:400px;margin:auto">
%for name, link, txt in US:
<div>
<a target="_blank" href="${link}">${name}</a> : ${txt}
</div>
%endfor
</div>

<h2 id="usa_data_center">美国机房简介</h2>
<div style="width:600px;margin:auto">
<ol>
<li>San Jose 机房位于加州西海岸，中国电信海底光缆登陆美国西海岸的地方
<div>ping ownlinux.org</div>
</li>
<li>Los Angeles 机房对中国线路较好，服务器稳定
    <div>ping 206.221.220.4（洛杉矶机房）</div>
</li>
<li>Las Vegas 采用 Supermicro 服务器，四核 Intel Xeon 处理器，硬件配置强大
    <div>ping linuxtoy.org（拉斯维加斯1号机房）</div>
    <div>ping 72.46.128.226（拉斯维加斯2号机房）</div>
</li>
<li>Orange County 机房也是位于加州西海岸，每个服务器都有硬件 DDos 防护和过滤

    <div>
        ping tw.emlog.net（加州 OC 机房）
    </div>
</li>
</ol>

</div>
</div>
