<%
from misc.config import HOST
from model.pay.bank import Bank
%>
<%inherit file="../_base.html" />
<%def name="head()">
<link rel="stylesheet" href="${css.vps_link|n}" type="text/css">
</%def>

<div class="LV">
   <div id="LVNav" class="LVNav">
        <a class="LVNav_a LVNavNow" rel="link" href="javascript:void(0);">链接</a>
        <a class="LVNav_a" rel="bill" href="/link/bill">账目</a>
    </div> 
    <div id="LVlink" class="LVc">
        <div>分享以下链接 , 引导新用户购买主机</div>
        <div>
            <%
            reward_link = 'http://vps.%s/by/%s' % (HOST, current_user.id) 
            %>
            <input id="by_who" value="${reward_link}">
        </div>
        <div style="padding-bottom:14px">
            若其一年内消费
            <span style="margin-left:3px">满 1000 元 , 您可得100元提成</span>
        </div>
        <div style="margin-left:107px">满 2000 元 , 您可得200元提成</div>
        <div>
            帐号余额 : ${"%.2f"%(Bank.get(current_user_id)/100.0)} 元
            <a class="LVlinkCharge" target="_blank" href="//${current_user.link}/money/draw">提现</a>
        </div>
        <div>
           <div id="LVEx">
            以下是一个链接样式的演示效果 , 仅供参考
                <div class="mt27">
                <a style="background:url(http://css42.42qu.us/png/42_39.png) #fff no-repeat ; line-height: 0; display: inline-block; height: 39px; padding-left: 48px; color:#000; text-decoration: none;" href="${reward_link}" target="_blank">
                <span style="clear:both;margin-bottom:32px;display:inline-block;margin-top:-5px;">
                <span style="font-family: Trebuchet MS; line-height: 18px;">
                <span style="font-weight: bold; color:#d20; font-size: 19px;font-family:Trebuchet MS ">VPS.42QU.COM</span>
                <span style="margin-left: 1px; display: block; font-size: 12px; line-height: 14px; font-weight: bolder; margin-top: -7px;">
                好主机
                <span style="margin:0 2px">,</span>
                卖给创业的你
                </span>
                </span>
                </span>
                </a>
                </div>
            <div>HTML 代码如下 ( 你也可以嵌入到 RSS 输出的底部 )</div>
            <textarea style="font-size:12px;height:210px;width:640px">
            <a target="_blank" href="${reward_link}" style="background:url(http://css42.42qu.us/png/42_39.png) #fff no-repeat ; line-height: 0; display: inline-block; height: 39px; padding-left: 48px; color:#000; text-decoration: none;"><span style="clear:both;margin-bottom:32px;"><span style="font-family: Trebuchet MS; line-height: 18px;"><span style="font-weight: bold; color:#d20; font-size: 19px;">VPS.42QU.COM</span><span style="margin-left: 1px; display: block; font-size: 12px; line-height: 14px; font-weight: bolder; margin-top: 4px;">好主机 <span style="margin:0 2px">,</span> 卖给创业的你</span></span></span></a></textarea>
            </div> 
        </div>
    </div>
</div>
