<%!
from model.vps.datacenter import vps_datacenter_list
from model.vps.const import VPS_HOST_TYPE_NAME2ID
%>

<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 物理机</%def>
<%namespace file="/_util/html.html" name="html"/>

<%html:form> 

    %if EDIT_HOST_ID:
    <h3>编辑物理机</h3>
    
    <div>编号 :  ${EDIT_HOST_ID} </div>${errtip.host_id|n}
    <div>Vps个数限额： <input name="vps_limit" value="${host.vps_limit}"> ${errtip.vps_limit|n}</div>
    %else:
    <h3>添加物理机</h3>
    <div>编号：   <input name="host_id" value="${host.host_id}"> ${errtip.host_id|n}</div>
    %endif
</div>
<div>
机房 : 
<select name="data_center">
<%
    datacenters = vps_datacenter_list ()
%>
%for i in datacenters:
<option value="${i.id}" ${ host.data_center_id == i.id and 'selected' or ''}>${i.name}</option>
%endfor
</select> ${errtip.data_center|n}
</div>


<div>外网 IP : <input name="ip_ext" value="${host.ip_ext_str}"> ${errtip.ip_ext|n}</div>
<div>内网 IP : <input name="ip_inner" value="${host.ip_inner_str}"> ${errtip.ip_inner|n}</div>
<div>内存总数 (M): <input name="ram_count" value="${host.ram_count}"> ${errtip.ram_count|n}</div>
<div>硬盘总数 (G): <input name="hd_count" value="${host.hd_count}"> ${errtip.hd_count|n}</div>
<div>类型 : <select name="host_type">
        %for name, _id in VPS_HOST_TYPE_NAME2ID.iteritems ():
            <option value="${name}" ${ host.host_type == _id  and 'selected' or '' } >${name}</option> 
        %endfor
    </select> ${errtip.host_type|n}
</div>



<button>提交</button>
</%html:form>

