<%!
from model.vps.const import VPS_HOST_TYPE_NAME2ID
%>

<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 物理机</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%namespace file="/_util/html.html" name="html"/>
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">

<p> vps个数=已付款+运行中+已关闭 </p>

<h3> 机房 ${data_center.name} 列表</h3>
<table>
    <tr><th>编号</th><th>外网ip</th><th>内网ip</th><th>vps个数/限额</th><th>硬盘</th><th>内存</th><th>操作</th>
    </tr>
%for host in host_list: 
    <tr>
        <td>${host.id}</td>
        <td>${host.ip_ext_str}</td>
        <td>${host.ip_inner_str}</td>
        <td>${host.vps_count} / ${host.vps_limit} <a href="/god/vm/list15-0-${host.id}">查看vps</a></td>
        <td>${host.hd_used} / ${host.hd_count}</td>
        <td>${host.ram_used} / ${host.ram_count} </td>
        <td><a href="/god/host/edit/${host.id}">编辑</a></td>
    </tr> 
%endfor
</table>
