<%!
from model.vps.const import VM_STATE_CN
from model.vps.datacenter import VpsDataCenter
from model.vps.vm_os import VPS_OS_DICT 
from model.vps.host import VpsHost
%>

<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>

<%namespace file="/_util/html.html" name="html"/>


<br/>
<div>操作：<span><a href="/god/vm/new">手动开通虚拟机</a> </span></div>

<script language="javascript">
    function host_change () {
        selected_host = $("#host_list").val ();
        document.location = "/god/vm/list15-0-" + selected_host
    }
</script>

<div>物理机 <select name="host" id="host_list" onChange="host_change();">
        <%
            host_list = VpsHost.where()
            %> 
        <option value="" ${str(selected_host) == '' and 'selected' or ''} >所有</option>
        %for host in host_list:    
            <option value="${host.id}" ${str(selected_host) == str(host.id) and 'selected' or ''} >${host.id}</option>
        %endfor

</select> </div> 

<h3> 虚拟机列表</h3>
<div><span>类别：</span>
    %for state_id, state_txt in VM_STATE_CN.iteritems ():
        %if str(selected_state) == str(state_id):
            <span> <strong>${state_txt} (${state_count[state_id]})</strong></span>
        %else:
        <span><a href="/god/vm/list${state_id}-0-${selected_host}">${state_txt} (${state_count[state_id]})</a></span>
        %endif
    %endfor
</div>

<table>
    <tr><th></th><th>状态</th><th>编号</th><th>用户</th><th>操作系统</th><th>机房</th><th>内存</th><th>物理机</th>
    <tr>
%for num, vm in enumerate(vm_list, 1): 
<%
user = vm.user
datacenter = VpsDataCenter.mc_get (vm.data_center_id)
%>
    <tr>
        <td>${num}</td>
        <td>${VM_STATE_CN[vm.state]}</td>
        <td>${vm.id}</td>
        <td><a href="${user.link}" target="_blank">${user.name}</a></td>
        <td>${VPS_OS_DICT[vm.os_id]}</td>
        <td>${datacenter.name}</td>
        <td>${vm.ram/1024.0}</td>
        <td>${vm.host_id}</td>
        <td><a href="/god/vm/${vm.id}">查看</a></td>
    </tr> 
%endfor
</table>
${page|n}
