<%!
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%namespace file="/_util/html.html" name="html"/>


<%html:form> 
<div>
查找用户 ( 输入 : 用户名 / ID / 邮箱 / 网址 )
</div>
<div style="margin:27px 0">
%if request.method == "POST":
<div>未找到用户</div>
%endif
<input name="q" style="padding:7px" value="${q or ''}">
</div>
<div><button class="BTN" type="submit">开通虚拟机</button></div>
</%html:form>

