<%!
from model.vps.datacenter import vps_datacenter_list
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%namespace file="/_util/html.html" name="html"/>
<div>为 <a href="${user.link}">${user.name}</a> 开通虚拟机</div>
<div>选择机房</div>

<%
    datacenters = vps_datacenter_list ()
%>

%for i in datacenters:
<div>
    <a href="/god/vm/new/${user.id}/${i.id}">${i.name}</a>
</div>
%endfor
