<%!
%>

<%

%>

<%inherit file="../_base.html" />
<%def name="html_title()">虚拟机-添加IP </%def>
<%namespace file="/_util/html.html" name="html"/>

<%html:form> 

<h3> 绑定IP </h3>
<div>VPS编号:${vm.id}</div>
<div>
    外/内
<select name="ip_type">
    <option value="1" >外网</option>
    <option value="0" >内网</option>
</select> 
</div>
<div>
    地址 <input name="ip" value="${ip}"> ${errtip.ip|n}  
</div>

<button>提交</button>
</%html:form>

