<%!
from model.vps.host import VpsHost
from model.vps.const import VM_IP_TYPE
from model.vps.vm_os import VPS_OS_DICT
from model.vps.template import VmTemplate
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%namespace file="/_util/html.html" name="html"/>
<%
%>


<%html:form> 
<div>为 <a href="${user.link}">${user.name}</a>  在 ${data_center.name} 开通虚拟机</div>
<div> 有效期 <input name="day" value="4"> 天 </div>
<div> 物理机 <select name="host"><option value="0">自动分配</option>\
%for i in VpsHost.where(data_center_id=data_center.id): 
<option value="${i.id}">${i.id} . 内存 ${i.ram_count/1024} G</option>\
%endfor
</select></div>
<div> 系统 
    <select name="os">\
%for k,v in VPS_OS_DICT.iteritems():
<option value="${k}">${v}</option>
%endfor
    \</select>
</div>
<div> 模版 
<select name="template">
%for i in VmTemplate.where(country = data_center.country_id).order_by("ram"):
<option value="${i.id}">内存 ${i.ram/1024.0}</option>
%endfor
</select>
<div>
    <input type="checkbox" name="ip_type" id="ip_type" value="0">
    <label for="ip_type">只添加内网IP</label>
</div>
</div>
<button type="sumbit" class="BTN" style="margin-top:32px">创建</button>
</%html:form>
 
