<%!
from model.vps.host import VpsHost
from model.vps.vm_os import VPS_OS_DICT
from model.vps.template import VPS_TEMPLATE_CN
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%namespace file="/_util/html.html" name="html"/>


<%html:form> 
<div> VPS${vm.id}修改模版</div> 
<div>
<select name="template">
%for i in VPS_TEMPLATE_CN:
    <option value="${i.id}" ${vm.vm_template_id == i.id and 'selected' or ''}>内存 ${i.ram/1024.0}</option>
%endfor
</select>
</div>
<button type="sumbit" class="BTN" style="margin-top:32px">修改模版</button>
</%html:form>
 
