<%
from model.vps.datacenter import vps_datacenter_list
%>
<%inherit file="../_base.html" />
<%def name="html_title()">主机 - 虚拟机</%def>
<%namespace file="/_util/html.html" name="html"/>
<%html:form> 
<div> VPS${vm.id}修改机房</div>
<div>
    <select name="datacenter">
<%
    datacenters = vps_datacenter_list ()
%>
%for i in datacenters:
<option value="${i.id}" ${vm.data_center_id == i.id and 'selected' or ''}>${i.name}</option>
%endfor
    </select>
</div>
<button type="sumbit" class="BTN" style="margin-top:32px">提交</button>

</%html:form>
