<%
from model.vps.datacenter import VpsDataCenter
from model.vps.vm_os import VPS_OS_DICT 
from model.vps.const import VM_STATE_CN, VM_STATE
from model.vps.bank import vm_bank_get, vm_cost_list 
from misc.lib.base.timetool import days2today
from model.vps.ip import VpsIp
from model.vps.ip_inner import VpsIpInner
from model.base.user_mail import mail_by_user_id
from model.vps.vm_harddisk import vm_harddisk_list
%>


<%inherit file="../_base.html" />
<%def name="head()"> 
<script src="${js.init|n}"></script>\
<script src="${js.vps_edit|n}"></script>\
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%
user = vm.user
datacenter = VpsDataCenter.mc_get (vm.data_center_id)
%>
<div>用户 : <a href="${user.link}" target="_blank">${user.name}</a></div>
<div>vps编号：${vm.id}</div>
<div>邮箱 : ${mail_by_user_id(vm.user_id)}</div>
<div>${VM_STATE_CN[vm.state]}
    %if vm.state == VM_STATE.PAY:
        <div><a href="/god/vm/open/${vm.id}">再次发送开通指令</a><div>
        <div><a href="/god/vm/open/mail/${vm.id}">发送开通提示邮件</a></div>
    %endif
    <span>
    %if vm.state == VM_STATE.PAY or vm.state == VM_STATE.CLOSE:
        <a href="/god/vm/delete/${vm.id}">删除</a>
    %elif vm.state == VM_STATE.OPEN:
        <a href="/god/vm/close/${vm.id}">关闭</a>
    %endif
    </span>
</div>
<div>机房：${datacenter.name} <a href="/god/vm/datacenter/edit/${vm.id}">修改</a> </div>
<div>主机：${vm.host_id} <a href="javascript:void(0)" rel="${vm.id}" class="host_update">修改</a>  </div>
<div>系统：${VPS_OS_DICT[vm.os_id]}<a href="javascript:os(${vm.id},${vm.os_id});void(0)" class="os_update">修改</a></div>
<div>模版：${template.id} - 内存 ${template.ram/1024.0} <a href="/god/vm/template/edit/${vm.id}">修改</a></div>
<div>带宽：${vm.bandwidth}M <a href="javascript:void(0)" rel="${vm.id}" class="bandwidth_update">修改</a></div>
<div>硬盘：${vm.hd_total}</div>
<table>
    <tr><th>设备</th><th>大小</th><th>挂载点</th></tr>
    <%
        disks = vm_harddisk_list (vm.id)
    %>
        %for disk in disks:
        <tr><td>${disk.device_name}</td><td>${disk.size}G</td><td>${disk.mount_point}</td></tr>
        %endfor
</table>
<div>密码 : ${vm.password}</div>
<div>IP : <a href="/god/vm/ip/new/${vm.id}">添加IP</a> <br/>
<%    
    ip_ext_list = list(VpsIp.where (vm_id=vm.id))
    ip_inner_list = list(VpsIpInner.where (vm_id=vm.id))
    ip_list = ip_ext_list + ip_inner_list 
%>
%for ip in ip_list:
<div>
    <span>${ip.ip_str} / ${ip.netmask_str}, 网关 ${ip.gateway_str} MAC地址 ${ip.mac}</span><span> <a href="/god/vm/ip/rm/${vm.id}/${ip.ip}">移除ip</a> </span>
</div>
%endfor

</div>
<div>续费：<a href="javascript:void(0)" rel="${vm.id}" class="days_update">修改</a></div>
<div>租赁费用 : 
%for i in vm_cost_list(vm.id):
<div>${days2today(i.begin)} - ${days2today(i.end)}  ${i.price} 元</div>
%endfor
<div>目前剩余 : ${vm_bank_get(vm.id)/100.0} 元</div>
</div>
