<%!
from model.vps.const import VM_STATE_CN
from model.vps.datacenter import vps_datacenter_dict
from model.vps.vm_os import VPS_OS_DICT
%>

<%
    datacenter_dict = vps_datacenter_dict ()
%>

<%inherit file="../_base.html" />
<%def name="html_title()">搜索</%def>
<%def name="head()">
<link rel="stylesheet" href="${css.vps_vm}" type="text/css">
</%def>
<%namespace file="/_util/html.html" name="html"/>

<form class="search" action="/god/vm/search" style="padding-top:18px;margin-bottom:4px;margin-right:64px;text-align:left;">\
<input type="text" value="${q or ''}" placeholder="IP / 编号 / 用户邮箱" name="q" style="width:200px;" id="search" autocomplete="off">\
<input type="submit" class="search_btn" value="">\
</form>
%if vm_list is not None:
<div class="c">
%if not vm_list:
<div>    未找到相应VPS，请输入其他查询条件,如VPS编号(ID)，用户邮箱。</div>
%else:
    <table>
        <tr><th>状态</th><th>编号</th><th>用户</th><th>操作系统</th><th>机房</th><th>物理机</th>
        </tr>
    %for vm in vm_list: 
        <tr>
            <td>${VM_STATE_CN[vm.state]}</td>
            <td>${vm.id}</td>
            <td>${vm.user.name}</td>
            <td>${VPS_OS_DICT[vm.os_id]}</td>
            <td>${datacenter_dict[vm.data_center_id].name}</td>
            <td>${vm.host_id}</td>
            <td><a href="/god/vm/${vm.id}">查看</a></td>
        </tr> 
    %endfor
    </table>
%endif
</div>
%endif
